/* From Uiverse.io by Javierrocadev */
.Card {
  position: absolute;
  transform: translateX(-100%);
  z-index: 1000;
  width: 80vw;
  max-width: 400px;
  height: 50vh;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #fffffe;
  border: 5px solid #000000;
  border-radius: 15px;
  //position: relative;
  overflow: hidden;
}

.Card::before {
  content: "";
  width: 350px;
  height: 100px;
  position: absolute;
  top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 3px solid #000000;
  background: linear-gradient(40deg, rgb(0, 0, 0) 0%, rgb(255, 144, 232) 50%, rgb(255, 255, 255) 100%);
  transition: all 0.5s ease;
}

.Card * {
  z-index: 1;
}

.Image {
  width: 90px;
  height: 90px;
  background-color: #ff90e8;
  border-radius: 50%;
  border: 4px solid #fefefe;
  margin-top: 30px;
  transition: all 0.5s ease;
}

.CardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.5s ease;
}

.CardInfo span {
  font-weight: 600;
  font-size: 24px;
  color: #161A42;
  margin-top: 15px;
  line-height: 5px;
}

.CardInfo p {
  color: rgba(0, 0, 0, 0.5);
}

.Button {
  text-decoration: none;
  background-color: #000000;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.5s ease;
  font-size: 20px;
}

.Card:hover::before {
  width: 350px;
  height: 700px;
  border-bottom: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  //transform: scale(0.95);
}

.Card:hover .CardInfo {
  transform: translate(0%,-25%);
}

.Card:hover .Image {
  transform: scale(2) translate(-60%,-40%);
}

.Button:hover {
  background-color: #ff90e8;
  transform: scale(1.1);
  color: #000000;
}